{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}
    挥洒青春与梦同行
{% endblock %}

{% block page_css %}

{% endblock %}

{% block page_jq %}
{#    <script type="text/javascript">#}
{#        $(function () {#}
{#            $('.li_img').mouseover(function () {#}
{#                $('.display').slideToggle()#}
{#            });#}
{#            $('.li_img').mouseout(function () {#}
{#                $('.display').slideToggle()#}
{#            });#}
{#        })#}
{#    </script>#}
{% endblock %}

{% block page_head %}
    <div class="head clearfix">
        <span>欢迎来到全球最大的电影网站</span>
        <ul class="head_right">
            <li><a href="#">收藏网站</a></li>
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#"> | </a></li>
            <li><a href="#">首页</a></li>
            <li><a href="#">短视频</a></li>
            {% for cata in catas %}
                <li><a href="#">{{ cata.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="head_gun">
        <marquee onmouseover='this.stop()' onmouseout='this.start()'>
            <a href="#">注册</a>|<a href="#">登录</a>后观看更多高清无码视频
        </marquee>
    </div>
{% endblock %}

{% block page_main %}
    <div>
        <div class="main clearfix">
        <div class="main_left clearfix">
            <div class="main_left_title clearfix">
                <span>最新电影推荐</span>
                <a href="#">更多</a>
            </div>
            <div class="left_content">
                {% for film in film_movies1 %}
                    <ul class="movies">
                        <li> <a href="#"><img class="img" src="{% static film.image %}"></a></li>
                        <li class="p">{{ film.name }}</li>
                        <li class="name">{{ film.sub_class_name }}-{{ film.on_decade }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="main_right clearfix">
            <div class="main_right_title">
                <span>最新电影排行榜</span>
            </div>
            <div class="right_content">
                {% for film_movie2 in film_movies2 %}
                    <ul>
                        <a href="#">
                            <li class="li_img">
                                <span class="number">{{ forloop.counter }}</span>
                                <div class="display"><img src="{% static film_movie2.image %}"></div>
                                <span class="li_left">{{ film_movie2.name|slice:'0:20' }}</span>
                                <span class="li_right">{{ film_movie2.update_time|slice:'5:11' }}</span>
                            </li>
                        </a>
                    </ul>

                {% endfor %}
            </div>
        </div>
    </div>
        <div class="main clearfix">
        <div class="main_left clearfix">
            <div class="main_left_title clearfix">
                <span>最新电视剧推荐</span>
                <a href="#">更多</a>
            </div>
            <div class="left_content">
                {% for film_teleplay1 in film_teleplays1 %}
                    <ul class="movies">
                        <li> <a href="#"><img class="img" src="{% static film_teleplay1.image %}"></a></li>
                        <li class="p">{{ film_teleplay1.name }}</li>
                        <li class="name">{{ film_teleplay1.sub_class_name }}-{{ film_teleplay1.on_decade }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="main_right clearfix">
            <div class="main_right_title">
                <span>最新电视剧排行榜</span>
            </div>
            <div class="right_content">
                {% for film_teleplay2 in film_teleplays2 %}
                    <ul>
                        <a href="#">
                            <li class="li_img">
                                <span class="number">{{ forloop.counter }}</span>
                                <div class="display"><img src="{% static film_teleplay2.image %}"></div>
                                <span class="li_left">{{ film_teleplay2.name }}</span>
                                <span class="li_right">{{ film_teleplay2.update_time|slice:'5:11' }}</span>
                            </li>
                        </a>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="main clearfix">
        <div class="main_left clearfix">
            <div class="main_left_title clearfix">
                <span>最新动漫推荐</span>
                <a href="#">更多</a>
            </div>
            <div class="left_content">
                {% for film_animation1 in film_animations1 %}
                    <ul class="movies">
                        <li> <a href="#"><img class="img" src="{% static film_animation1.image %}"></a></li>
                        <li class="p">{{ film_animation1.name }}</li>
                        <li class="name">{{ film_animation1.sub_class_name }}-{{ film_animation1.on_decade }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="main_right clearfix">
            <div class="main_right_title">
                <span>最新动漫排行榜</span>
            </div>
            <div class="right_content">
                {% for film_animation2 in film_animations2 %}
                    <ul>
                        <a href="#">
                            <li class="li_img">
                                <span class="number">{{ forloop.counter }}</span>
                                <div class="display"><img src="{% static film_animation2.image %}"></div>
                                <span class="li_left">{{ film_animation2.name|slice:'0:25' }}</span>
                                <span class="li_right">{{ film_animation2.update_time|slice:'5:11' }}</span>
                            </li>
                        </a>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="footer clearfix">
        <div id="footer">
            <p>免责声明:如果侵犯了你的权益，请发邮件至：1164355115@qq.com，我们会及时删除侵权内容，谢谢合作！</p>
            <p>Copyright © 2018 蜀ICP备16028726号 2018 All Rights Reserved.
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1272902876'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1272902876%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </p>
        </div>
    </div>
{% endblock %}